{% extends 'layout.html' %}

{% block body %}

<main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4.5"> Player Value (PV) and Potential Player Value (PPV)</h1>
        </div>
      </div>

      <div class="container">

      <p> Player Value (PV) is a metric that estimates the economic value of a single player considering his contribution in team's wins. Potential Player Value (PPV) instead is a metric that estimates the economic value of a single player considering his potential contribution in team's wins. Calculating PV and PPV is quite simple.</p>

      <p>First of all, we need to estimate how much a single win is worth economically, during the Regular Season.</p>

  </div>



{% endblock %}